body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #4facfe;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #00c6ff;
}

.result {
  margin-top: 20px;
}

.bmi-img {
  width: 150px;
  margin-top: 15px;
  border-radius: 10px;
}

.input-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
  align-items: center; 
}

.input-group input {
  width: 65%;
  height: 44px;
  padding: 10px 12px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-group select {
  width: 80px;
  padding:8px 10px;
  font-size: 16px;
  height: 42px;   
  cursor: pointer;
  box-sizing: border-box;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
